/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

/* For all same content */

section {
	padding: 100px 0;
}

.container {
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.about, .services, .skills, .work, .contact, .footer {
	font-family: 'Roboto', sans-serif;
}

.about .about-content,
.services .services-content,
.work .work-content,
.skills .skills-content,
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

section .title {
	position: relative;
	font-size: 36px;
	font-weight: 500;
	margin-bottom: 35px;
	padding-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}

section .title::before {
	content: "";
	position: absolute;
	bottom: 15px;
	width: 98px;
	height: 3px;
	background: #0027ff;
}

/* navbar styling */

.navbar {
	position: fixed;
	width: 100%;
	padding: 65px 0;
	font-family: sans-serif;
	z-index: 999;	
	transition: all 0.3s ease;
}

.navbar .container{
	display: flex;	
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	color: #111;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span {
	color: #0027ff;
	transition: all 0.3s ease;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
	display: block;
	color: #111;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover {
	color: #fff;
}

.menu-btn	{
	color: #111;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

/* navbar sticky */

.navbar.sticky {
	padding: 15px 0;
	background: #f3c031;
}

.navbar.sticky logo a span {
	color: #0027ff;
}

/* home section styling */



.home {
	display: flex;
/*	background: url("../images/bg2.png") no-repeat center;*/
/*	background: linear-gradient(to right, #efb932, #f5c94a);*/
	background: #eccb78;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	min-height: 500px;
	font-family: 'Roboto', sans-serif;
}


.home .container {
	display: flex;
	width: 100%;
}

.home-content {
	padding-top: 50px;
}

.home .home-content .text-1 {
	font-size: 27px;
	color: #111;
}

.home .home-content .text-2 {
	font-size: 76px;
	color: #111;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3 {
	font-size: 34px;
	color: #111;
	margin: 5px 0;
}

.short-desc {
	width: 300px;
	font-size: 16px;
	text-align: justify;
	padding-top: 25px;
}

.home .home-content .text-3 span {
	color: #0027ff;
	font-weight: 500;
}

.home .home-content a {
	display: inline-block;
	background: #0027ff;
	color: #fff;
	font-size: 18px;
	padding: 10px 24px;
	margin-top: 20px;
	margin-right: 15px;
	border: 2px solid #0027ff;
	font-weight: 400;
	border-radius: 5px;
	transition: all 0.3s ease;
}

#work-btn {
	display: inline-block;
	background: none;
	color: #222;
	border: 2px solid #0027ff;
	transition: 0.3s ease;
}

.home a:hover {
	color: #222;
	background: none;
}

#work-btn:hover {
	color: #0027ff;
	background: none;
}

/* About section styling */

.about .about-content .left {
	width: 45%;
}

#about {
	text-align: left;
}

.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 5px;
}

.about .about-content .right {
	width: 55%;
}

.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.about .about-content .right .text span {
	color: #0027ff;
}

.about .about-content .right p {
	text-align: justify;
}

.about .about-content .right a {
	display: inline-block;
	background: #0027ff;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 10px 26px;
	margin-right: 15px;
	margin-top: 20px;
	border-radius: 5px;
	border: solid #0027ff;
	transition: all 0.3s ease;
}

.about .about-content .right a:hover {
	color: #0027ff;
	background: none;
}

#hire-me {
	background: none;
	color: #0027ff;
}

#hire-me:hover {
	background: #0027ff;
	color: #fff;
}


/* styling for the services */

.services {
	color: #fff;
	/*background: linear-gradient(to right, #efb932, #f5c94a);*/
	background: linear-gradient(to right, #eccb78, #eccb78);
}

.services .title {
	text-align: center;
	margin-bottom: 50px;
	color: #000;
}

.services .title::before {
	background: #0027ff;
}

.services .services-content .card {
	width: calc(33% - 20px);
	background: #222;
	border-bottom: 4px solid #0027ff;
	text-align: center;
	border-radius: 5px;
	padding: 50px 25px;
	margin-bottom: 36px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.services .services-content .card:hover {
	background: #0027ff;
}

.services .services-content .card .box {
	transition: all 0.3s ease;
}

.services .services-content .card:hover .box {
	transform: scale(1.05);
}

.services .services-content .card i {
	font-size: 50px;
	color: #f1be3a;
	transition: color 0.3s ease;
}


.services .services-content .card:hover i {
	color: #fff;
}

.services .services-content .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}


/* work section styling */
#work {
	background: #fff;
}

#work .title {
	text-align: center;
	margin: 50px;
}

.work .title::before {
	background: #0027ff;
}

.work .work-content .img-box img {
	width: 100%;
	height: 100%;
	transition: all 0.3s ease;
}

.work .work-content .img-box {
	width: calc(33% - 20px);
	text-align: center;
	margin-bottom: 36px;
	cursor: pointer;
	transition: all 0.3 ease;
}		

.work .img-box img:hover {
	transform: scale(1.1);
}


/* skills section styling */
#skills {
	/*background: linear-gradient(to right, #efb932, #f5c94a);*/
	background: linear-gradient(to right, #eccb78, #eccb78);
}

.skills .skills-content .column{
	width: calc(50% - 30px);
}

.skills .skills-content .left .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.skills .skills-content .left p{
	text-align: justify;
}
/* #text {
	font-size: 20px;
	font-weight: 600;
}
*/

.skills .skills-content .left a {
	display: inline-block;
	background: #0027ff;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 8px 14px;
	margin-top: 20px;
	border-radius: 5px;
	border: 2px solid #0027ff;
	transition: all 0.3s ease;
}

.skills .skills-content .left a:hover {
	color: #0027ff;
	background: none:
}

.skills .skills-content .right .bars {
	margin-bottom: 15px;
}

.skills .skills-content .right .info {
	display: flex;
	margin-bottom: 5px;
	align-items: center;
	justify-content: space-between;
}

.skills .skills-content .right .span {
	font-weight: 500;
	font-size: 18px;
}

.skills .skills-content .right .line {
	height: 5px;
	width: 100%;
	background: lightgrey;
	position: relative;
}

.skills .skills-content .right .line::before {
	content: "";
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	background: #0027ff;
}

.skills-content .right .html::before {
	width: 55%;
}

.skills-content .right .css::before {
	width: 35%;
}

.skills-content .right .js::before {
	width: 25%;
}


/* Contacts section styling */

.contact .contact-content .column {
	width: calc(50% - 30px);
}

.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	weight-bottom: 10px;
}

.contact .contact-content .left p {
	text-align: justify;
}

.contact .contact-content .left .icons {
	margin: 10px 0;
}

.contact .contact-content .row {
	display: flex;
	height: 65px;
	align-content: center;
}

.contact .contact-content .row .info {
	margin-left: 30px;
}

.contact .contact-content .row i{
	font-size: 25px;
	color: #0027ff;
}

.contact .contact-content .info .head {
	font-weight: 500;
}

.contact .contact-content .info .sub-title {
	color: #333;
}

.contact .right form fields {
	display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
}

.contact .right form .textarea {
	height: 80px;
	width: 100%;
}

.contact .right form .name {
	margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
	height: 100%;
	width: 100%;
	border: 1px solid lightgrey;
	border-radius: 5px;
	outline: none;
	padding: 0 15px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
	border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
	padding-top: 10px;
	resize: none;
}
